:root {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --card-bg: #2a2a2a;
  --accent-color: #dc370f;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', sans-serif;
}

a {
  color: cornflowerblue;
}