/* PlaylistDetailsPage component styles */
.playlistDetailsRecentUploads {
  overflow: auto;
}

/* Table styles for playlist details */
.table th, 
.table td {
  text-align: left;
  padding: 8px;
}

.tableFixed {
  white-space: nowrap;
}

.tableExpand {
  width: 100%;
}

.table tbody td {
  font-size: 14px;
  border-top: 1px solid gray;
}

.table tbody a {
  text-decoration: none;
}

/* Utility classes for hover effects */
.hoverBlue:hover i {
  color: cornflowerblue;
}

.hoverDanger:hover i {
  color: var(--danger-color);
}

/* Mobile responsive playlist details */
@media (max-width: 768px) {
  .playlistDetailsPoster {
    display: none;
  }

  .playlistDetailsRecentUploads {
    overflow: visible; /* This switches the scroll from just the "recent uploads" list to almost the whole page */
  }

  .smallPaddingMobile {
    padding: 5px !important; /* Using !important to allow inline style to define the padding, but might want to avoid */
  }

  .flexColumnMobile {
    flex-direction: column;
  }
}
