/* SearchResults component styles */
.search-results {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 60px;
  left: 220px;
  z-index: 10;
  background-color: #494949;
  max-height: 230px;
  width: 250px; 
  overflow-y: auto;
}

.search-result:hover, .search-result.highlighted {
  background-color: #595959;
}

/* Mobile responsive search results */
@media (max-width: 768px) {
  .search-results {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60px;
    left: 130px;
    z-index: 10;
    background-color: #494949;
    max-height: 230px;
    width: 250px; 
    overflow-y: auto;
  }
}
